<div class="banner banner-tail"
  style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path @cocktail.photo.key %>');object-fit: cover;">
  <div class="container">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-center align-items-center my-4">
    <h1>Add ingredients to <%= @cocktail.name %></h1>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="ingredioshi m-2 p-4 border rounded shadow-sm">
        <div>
          <h3>Ingredients</h3>
          <div class="py-2">
            <% @current_dose.each do |dose| %>
            <p><%= dose.description %> <%= dose.ingredient.name %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="m-2 p-4 border rounded shadow-sm">
        <div class="form-div-ingredients w-50">
          <%= simple_form_for(@dose) do |f| %>
          <%= f.hidden_field :cocktail_id, value: @cocktail.id %>
          <%= f.input :description, input_html: { placeholder: "Description" }, label: false %>
          <%= f.association :ingredient, input_html: { class: 'select2' }, label: false  %>
          <%# prompt: "Category" , collection: @ingredients.sort%> 
          <%= f.button :submit, 'Add Ingredient', class: "btn-success w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="p-3">
    <% if !@current_dose.empty? %>
    <%= link_to "Finialize Creation", cocktails_path, class: "btn btn-outline-success w-100" %>
    <% end %>
  </div>
</div>

<%# 
<select class="select2" name="country">
  <option value="AL">Alabama</option>
  <option value="WY">Wyoming</option>
</select> %>