<!DOCTYPE html>
<html>

<head>
  <title>Spicybrew</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/dc1w9349i/image/upload/v1613778969/marticon_hagbjw.jpg"/>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js", defer: true %>
  <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js", defer: true %>
</head>

<body>
  <%= render partial: "components/navbar" %>
  <%= yield %>
  <%= render partial: "components/footer" %>
  <%= render partial: "shared/alerts" %>
</body>

</html>